# Visual Studio
.vs/
*.user
*.suo
*.db
*.opendb
*.VC.db
*.VC.VC.opendb

# Build outputs
x64/
Win32/
Debug/
Release/
ipch/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.exe
!Security/Api/curl/libcurl.lib

# Logs
*.log

# User-specific
imgui.ini